<div id="div-header">
   
    <div id="div-logo-neonoos">
        <img src="../../../../assets/img/Logo/logo_neonoos.png" alt="logo-neonoos" />
    </div>
   
    <div id="div-main-search">
      <form action="">
        <input id="main-search-bar" type="text" placeholder="Search.." name="search">
        <button type="submit"></button>
      </form>
    </div>

     
    <div id="div-img-user">
         <img src="../../../../assets/img/Users/Bryan.png" alt="jules" />    
    </div>
    
    
</div>