<div class="container">
  <div class="btn">
    <button mat-flat-button> nouvelle section<mat-icon class="add">add</mat-icon></button>
    <button mat-flat-button [routerLink]="['/guide/new']"> nouveau guide<mat-icon class="add">add</mat-icon></button>
  </div>

  <mat-card>
    <neo-guide-edit [guide]="guide"  [guideId]="guideId" *ngIf="places"></neo-guide-edit>
  </mat-card>

  <mat-card>
    <neo-guide-travel
     [countries]="countries"
     [guide]="guide"
     [guideId]="guideId"
     [guideTrips]="guideTrips"
     [trips]="trips"
     (addOrRemoveTrip)="addOrRemoveTrips($event)"
     (countriesFilter)="countriesFilter($event)"></neo-guide-travel>
  </mat-card>

  <mat-card>
    <neo-guide-poi
    [guide]='guide' [places]='places' *ngIf="places"(deletePlacesGuide)="deletePlacesGuide($event)" [PicturesUrl$]="PicturesUrl$" [countries]="countries"
    [placeResults]="placeResults" [picturePlaceResults$]="PicturesPlaceResults$" (RefreshPlace)="refreshPlaces($event)" (addPlace)="addPlace($event)"></neo-guide-poi>
  </mat-card>
</div>



