.container {
  margin: 2rem;
  margin-left: 250px;
  margin-right: 3.5rem;

  .btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;

    .mat-flat-button {
      background-color: rgb(101, 216, 101);
      border-radius: 17px;
      padding: 0 .5rem;
      text-transform: uppercase;
      color: white;
      margin-left: 1rem;

      .add {
        background-color:rgba(0, 0, 0, .3);
        border-radius: 50%;
        margin-left: 1rem;
        color: white;
      }
    }

    .mat-flat-button:first-child {
      background-color: rgb(233, 60, 118);
    }
  }

  .mat-card {
    margin-bottom: 1.5rem;
  }

}

