.btn {

  margin-top: 8px;

  a {
    text-decoration: none;
    border-radius: 30px;
    padding: 12px 53px 12px 23px;
    margin-right: 10px ;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    transition: all 0.3s;
    display: inline-block;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    span {
      position: relative;
      z-index: 3;
    }

    .round {
      border-radius: 50%;
      width: 38px;
      height: 38px;
      position: absolute;
      right: 3px;
      top: 3px;
      transition: all 0.3s ease-out;
      z-index: 2;
    }

    .round mat-icon {
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: 50%;
      margin-left: -17px;
      transition: all 0.3s;
      font-size: 35px;
    }

    .txt {
      font-size: 14px;
      line-height: 1.45;
    }
  }

  :hover .round {
    background: none;
  }

  :hover .round mat-icon {
    left: 60%;
  }
}

.btn-section {
  background-color:#FF346b;
  min-width: 120px;
  text-align: center;
}
.btn-section .round {
  background-color:#CD0F3B;
}

.btn-new-guide {
  background-color:#3ACA60;
}
.btn-new-guide .round {
  background-color: #08AA33;
}
