$neonoos-color:  rgba(52, 87, 151, 1);
$neonoos-gradient: (125deg, #0098ff 0%, #226fff 100%);
$linear-gradient:(125deg, #0098ff 0%, #226fff 100%);
$user-color: rgba(247, 62, 117, 1);
$user-gradient:(125deg, #ff3e6b 0%, #e43d90 92%);
$linear-gradient:(125deg, #ff3e6b 0%, #e43d90 92%);
$friend-color: rgba(255, 173, 23, 1);
$friend-gradient:(59deg, #ffac17 1%, #ffb617 100%);
$linear-gradient:(59deg, #ffac17 1%, #ffb617 100%);
$text-color-sidebar:#9b9b9b;
$background-color: #e5e5e5;

