<div class="poi">
  <div class="poi-detail" *ngIf="places">
    <h2>Points du guide</h2>
    <div *ngIf="places.data.length>0">
    <div class="flex" *ngFor="let place of places.data; let i = index ">
      <div class="poi-image" >
        <img  [src]="PicturesUrl$[i] | async" alt="">
      </div>
      <div class="poi-content">
        <h4>{{place.attributes.name}}</h4>
        <h5>{{place.attributes.city}}</h5>
      </div>
      <div class="toggle">
        <mat-slide-toggle [checked]=true (change)="DeletePlacesGuide(place)">Supprimer</mat-slide-toggle>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  </div>
  <neo-mapbox [places]="places"></neo-mapbox>
</div>


<mat-accordion>
  <!-- <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)"> -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="panel-title">Section recherche</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <neo-guide-poi-search-section [places]="placeResults" [PicturesUrl$]="picturePlaceResults$" [countries]="countries"
    (refreshPlaces)="refreshPlaces($event)" (sendPlaceToadd)="sendPlaceToAdd($event)"></neo-guide-poi-search-section>
  </mat-expansion-panel>
</mat-accordion>
