@import '../../../../../../assets/scss/variables';
@import '../../../../../../assets/scss/btn';
@import '../../../../../../assets/scss/checkbox';

#dialog-new-hashtag
{
  height: 100%;

  form {
    display: flex;
    flex-direction: column;
  }

  .dialog-title {
    display: flex;
    justify-content: center;
    //border-bottom: 1px solid #9b9b9b;
    width: 100%;

    p {
      font-size: 18px;
      color: #253C66;
      margin-bottom: 10px;
    }
  }

  .dialog-input {
    display: flex;
    justify-content: center;
    //border-bottom: 1px solid #9b9b9b;
    padding: 10px 0 10px 0;

    input {
      width: 90%;
      border: 1px solid #9b9b9b;
      text-align: center;
    }

    input:focus {
      border: 1px solid #9b9b9b !important;
      box-shadow: 0 0 3px #9b9b9b !important;
    }

    input:focus {
      outline-offset: 0px !important;
      outline: none !important;
    }
  }

  .dialog-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;

    button {
      width: 50%;
      color: #67758D;
    }
  }
}



