<div class="overallContainer">

  <div class="header">

    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="panel-title">Ajouter une image</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="formContainer">
          <mat-form-field>
            <mat-label>Url de l'image</mat-label>
            <input matInput type="text" [(ngModel)]="pictureUrl">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Titre de l'image</mat-label>
            <input matInput type="text" [(ngModel)]="pictureTitle">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="addPicture(pictureUrl, pictureTitle)">Enregistrer</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <div class="body">
    <div class="subtitles">
      <p>Picture</p>
      <p>Header picture</p>
    </div>

    <div class="cardContainer" *ngIf="placePictures.length > 0">
      <div class="card" *ngFor="let picture of placePictures; index as i">
        <img mat-card-image src={{picture.data.attributes.filename}} alt="bad link">
        <div class="pictureLinkAndTitle">
          <div class="pictureLink">
            <p>URL Picture</p>
            <h3>{{picture.data.attributes.filename | slice: 0:30}}...</h3>
          </div>
          <div class="pictureTitle">
            <p>Picture title</p>
            <h3>{{picture.data.attributes.name | slice: 0:30}}...</h3>
          </div>
        </div>
        <div class="IsExtAndAuthor">
          <div class="toggleExt">
            <p>Lien externe</p>
            <mat-slide-toggle [checked]="picture.data.attributes.isExt" (change)="isExt(picture)"></mat-slide-toggle>
          </div>
          <div class="author">
            <p>Auteur</p>
            <h3>Neonoos</h3>
          </div>
        </div>
        <div class="dates">
          <div class="creationDate">
            <p>Date of creation</p>
            <h3>{{picture.data.attributes.created | date:'dd-MM-yyyy'}}</h3>
          </div>
          <div class="updateDate">
            <p>Last Update</p>
            <h3>{{picture.data.attributes.created | date:'dd-MM-yyyy'}}</h3>
          </div>
        </div>
        <mat-radio-button value="1"></mat-radio-button>

        <button mat-icon-button color="warn" (click)="deletePicture(picture)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>

  </div>
