.mat-expansion-panel {
  box-shadow: none;

  .mat-expansion-panel-header {
    padding: 0;

    ::ng-deep .mat-content {
      flex: initial;
    }

    .panel-title {
      color: grey;
      font-size: 20px;
    }
  }
s
  .mat-expansion-panel-header:hover {
    background: white;
  }
}

.body {

  .subtitles {
    display: flex;
    justify-content: space-between;
    //margin-right: 130px;

    p {
      text-transform: uppercase;
      color: rgb(184, 176, 176);
    }
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;

  p {
    padding: 0;
    margin: 0;
    color: rgb(184, 176, 176);
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
    margin: 10px;
    transition-duration: 0.3s;
  }

  .IsExtAndAuthor {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .dates {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.formContainer {
display: flex;
justify-content: space-evenly;
}

button {
  border-radius: 10px;
}
