.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleAndAdd {
  display: flex;

  .title {
    margin-right: 20px;
  }
  .addButton button {
    border-radius: 20px;
  }
}


.body {

  .subtitles {
    display: flex;
    justify-content: space-between;
    //margin-right: 130px;

    p {
      text-transform: uppercase;
      color: rgb(184, 176, 176);
    }
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;

  p {
    padding: 0;
    margin: 0;
    color: rgb(184, 176, 176);
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
    margin: 10px;
    transition-duration: 0.3s;
  }

  .pictureLinkAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;

    .pictureLink, .pictureTitle {
      max-width: 400px;
      border: 1px solid rgb(184, 176, 176);
      border-radius: 5px;
      padding: 5px;

      * {
        margin-right: 50px;
      }
    }
  }

  .IsExtAndAuthor {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .dates {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
