<div class="overallContainer">

  <img src="assets/img/Logo/Logo_neonoos.png" alt="logo de Neonoos">

  <form class="loginForm">
    <mat-form-field class="loginFormWidth">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="loginFormWidth">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Ex. Password1">
      <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
        Please try again
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" [disabled]="!emailFormControl.valid || !passwordFormControl.valid" mat-raised-button color="primary" (click)="OnSubmit(emailFormControl.value, passwordFormControl.value)">Login !</button>
  </form>

</div>
