@import '../../../../../../assets/scss/variables';
@import '../../../../../../assets/scss/btn';
@import '../../../../../../assets/scss/checkbox';



.place-filter {
    display: flex;
    justify-content: center;
}


#block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    margin: 50px 0 50px 0;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    background: white;
    padding: 15px 50px;
}

#block2{
    margin-top: 5%;
}

.block1-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    
    width: 100%;
}

#block1-line1{
    height: 15%;
}

#block1-line2{
    height: 100%;
}

#block1-line3{
    height: 10%;
    justify-content: right;
} 

.form-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#country-form-field{
    width: 25%;
}

#place-form-field{
    width: 50%;
}

#town-form-field{
    width: 25%;
}

#stars-form-field{
    width: 25%;
}

#radius-form-field{
    width: 25%;
}

mat-card{
}
    
mat-card-title{
    
}

mat-card-content{
}

.form-field-label {
    font-size: 15px;
    color: #9b9b9b;
    cursor: pointer;
}

#button-submit{
    border-radius: 8%;
    border-color: lightskyblue;
    color : lightskyblue;
}