<div class="container">
  <mat-card>
    <neo-place-edit [placeId]="placeId"
                    [place]="place"
                    [countries]="countries"
                    [country]="country"
                    [placeData]="placeData"
                    (patchPlace)="patchPlace($event)">
    </neo-place-edit>
  </mat-card>
  <mat-card>
    <neo-place-description [place]="place"></neo-place-description>
  </mat-card>
  <mat-card>
    <neo-place-picture [place]="place" [placeId]="placeId"></neo-place-picture>
  </mat-card>
</div>
