
<div class="guide-filter">
  <div class="block">
    <div class="block-1">
      <form class="form">
        <mat-form-field class="form-full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input type="tel" matInput placeholder="Rechercher une section">
        </mat-form-field>
      </form>
      <div class="btn">
        <a href="" class="btn-section">
          <span class="txt">NOUVELLE SECTION</span>
          <span class="round"><mat-icon>add</mat-icon></span>
        </a>
      </div>
    </div>

    <div class="block-2">
      <div class="checkbox">

        <div>
            <input id="toggle1" type="checkbox">
            <label for="toggle1">Toggle mee!</label>
        </div>

        <div>
            <input id="toggle3" type="checkbox">
            <label for="toggle3">Toggle me!</label>
        </div>

        <div>
          <input id="toggle4" type="checkbox">
          <label for="toggle4">Toggle me!</label>
        </div>

        <div>
          <input id="toggle5" type="checkbox">
          <label for="toggle5">Toggle me!</label>
        </div>

        <div>
          <input id="toggle6" type="checkbox">
          <label for="toggle6">Toggle me!</label>
        </div>

        <div>
          <input id="toggle6" type="checkbox">
          <label for="toggle6">Toggle me!</label>
        </div>

      </div>
    </div>

  </div>
</div>


