
<div class="guide-filter">
  <div class="block">
    <div class="block-1">
      <form class="form">
        <mat-form-field class="form-full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput placeholder="Rechercher une section" (input)="onSearchChange($event.target.value)">
        </mat-form-field>
      </form>
      <div class="btn">
        <a (click)="openDialog()" class="btn-section">
          <span class="txt">NOUVELLE SECTION</span>
          <span class="round"><mat-icon>add</mat-icon></span>
        </a>
        <a [routerLink]="['/guide/new']" class="btn-new-guide">
          <span class="txt">NOUVEAU GUIDE</span>
          <span class="round"><mat-icon>add</mat-icon></span>
        </a>
      </div>
    </div>

    <div class="block-2">
      <div class="header-title">
        <div class="title">LISTE DES SECTIONS</div>
        <div class="smallTitle" (click)="getHashtags()"> Tout voir</div>
      </div>
        <div *ngIf="hashtags" class="checkbox">
          <div *ngFor="let tag of hashtags.data">
            <div>
              <input id="{{tag.attributes.name }}" type="checkbox" (change)="checkbox($event, tag)">
              <label for="{{tag.attributes.name}}">{{tag.attributes.name}}</label>
          </div>
          </div>
        </div>
    </div>

  </div>
</div>


