
<div class="guide-filter">
  <div class="block">
    <div class="block-1">
      <form class="form">
        <mat-form-field class="form-full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput placeholder="Rechercher une section" [(ngModel)]="searchValue" name="searchValue" (input)="onSearchChange($event.target.value)">
        </mat-form-field>
      </form>
      <div class="btn">
        <a (click)="searchAllGuides()" class="btn-section">
          <span class="txt">LES GUIDES</span>
          <span class="round"><mat-icon>{{ iconBtnGuides }}</mat-icon></span>
        </a>
        <a [routerLink]="['/guide/new']" class="btn-new-guide">
          <span class="txt">NOUVEAU GUIDE</span>
          <span class="round"><mat-icon>add</mat-icon></span>
        </a>
      </div>
    </div>

    <div class="block-2">
      <div class="header-title">
        <div class="title">LISTE DES SECTIONS</div>
        <div class="smallTitle" (click)="showHashtags()">{{ showTitleHashtags }}</div>
      </div>
        <div *ngIf="!hashtags" class="warning">{{ message }}</div>
        <div *ngIf="hashtags" class="checkbox">
          <div *ngFor="let tag of hashtags">
            <div>
              <input id="{{tag}}" type="checkbox" (change)="checkbox($event, tag)">
            <!--   <label for="{{tag}}">{{tag | uppercase}}</label> -->
              <label for="{{tag}}">{{tag}}</label>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>


