h3 {
  color: grey;
}

.mat-divider:first-child {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  margin: 0;
  padding: 0;

}

.trip-header {
  display: flex;
  margin-bottom: 1rem;

  .trip-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 180px;
      height: 140px;
      border-radius: 10px;
    }

  }


  .trip-content {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h4 {
      margin: 0;
    }

    h5 {
      margin: 0;
      color: rgb(182, 173, 173);
    }
  }

}

.mat-expansion-panel {
  box-shadow: none;

  .mat-expansion-panel-header {
    padding: 0;

    ::ng-deep .mat-content {
      flex: initial;
    }

    .panel-title {
      color: grey;
    }

  }

  .mat-expansion-panel-header:hover {
    background: white;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }

  .filter-title {
    margin-top: 2.5rem
  }

  .filter-bar {
    display: flex;
    justify-content: space-between;

    .filter-country {
      display: flex;
      justify-content: space-between;
      align-items: baseline;



      h3 {
        margin-right: 1.5rem;
      }
    }

    .full-width {
      width: 500px;
    }
  }

  .title-result {
    margin-top: 1rem;
  }
}
