<h3 class="filter-title">Ajouter un voyage</h3>
<div class="filter-bar">
  <div class="filter-country">
    <h3 class="country">Pays</h3>
    <mat-form-field class="country-input">
      <mat-select>
        <mat-option >
        Maroc
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="place-input">
      <mat-label>Chercher un lieu</mat-label>
      <span matPrefix><mat-icon>search</mat-icon></span>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="city-input">
      <mat-label>Saisisser une ville</mat-label>
      <span matPrefix><mat-icon> add_location</mat-icon></span>
      <input matInput>
    </mat-form-field>
    </div>
  </div>

