@import '../../../../../../assets/scss/variables';

.place-result {
  display: flex;
  justify-content: center;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    margin: 0 0 25px 0;
    width: 90%;
    border-radius: 5px;
    background: white;
    padding: 15px 50px;
  }
}

.resultHeader {
  display: flex;
  align-items: center;
  width: 100%;
  & * {
    margin: 10px;
  }
}

.resultImg {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  & img {
    max-width: 150px;
    border-radius: 15px;
    margin: 10px;
    transition-duration: 0.3s;
  }
  & img:hover {
    transform: scale(1.15);
    transition-duration: 0.3s;
  }
}

.title-card-section {
  color: #67758D;
  font-size: 20px;
}

.overlay-image {
  position: relative;
  width: 100%;
}

.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
