h3 {
  text-transform: uppercase;
  color: rgb(184, 176, 176);
  margin: 0;
}

span {
  color: rgb(255, 123, 0);
}

img {
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  margin: .5rem;
}

.mat-divider {
  margin-bottom: 2rem;
}

.place-container {
  display: flex;
  justify-content: space-between;

  .place-left {
    width: 60%;

    .place-title {
      display: flex;
      align-items: baseline;
    }

    .larger {
      width: 50%;
    }

    .stars {
      margin-bottom: 2rem;
    }

  }

  .map {
    margin-left: 4rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0.12);
    padding-left: 1rem;
  }

  neo-mapbox{
    height: 300px;
    width: 400px;
  }

  #mapbox {
    width: 100%;
    height: 100%;
  }

  .place-right {



    .btn-save {
      text-align: right;
    }

    .location {
      display: flex;
      justify-content: flex-end;

    }
    .gps {
      margin-top: 1.2em;
    }

    .location-with-map {
      display: flex;

      .column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 2em;
      }
    }

  }

}

.second-part {
  margin-top: 2rem;
}
