<div class="place-container" *ngIf="place && countries">
  <div class="place-left">
    <div class="place-title">
      <h2 *ngIf="show && place">{{place.data.attributes.name}}</h2>
      <mat-form-field *ngIf="!show">
        <input matInput type="text" [(ngModel)]="place.data.attributes.name">
      </mat-form-field>
      <button (click)="show = !show" mat-button>Editer</button>
    </div>
    <div class="row">
      <div class="stars">
        <h3>etoiles</h3>
      </div>
      <div class="sections">
        <h3>sections du guide</h3>
        <mat-form-field appearance="outline">
          <mat-label>Sections</mat-label>
          <mat-select>
            <mat-option>

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <h3>adresse complete</h3>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" [(ngModel)]="place.data.attributes.address">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-icon matPrefix>pin_drop</mat-icon>
        <input matInput type="text" [(ngModel)]="place.data.attributes.city">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
       <mat-select [compareWith]="compareObjects"
                   [(ngModel)]="country.data">
        <mat-option *ngFor="let country of countries.data" [value]="country">
          {{country.attributes.name}}
        </mat-option>
       </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="place-right">
    <div class="btn-save">
      <button mat-stroked-button (click)="save()">Terminé</button>
    </div>
    <h3>main picture</h3>
    <img src="https://picsum.photos/300/150" alt="">
  </div>

</div>

<mat-divider></mat-divider>

<div class="place-container second-part" *ngIf="place && countries">
  <div class="place-left">
    <h3>infos additionnelles</h3>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input matInput [(ngModel)]="place.data.attributes.type">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>OSM ID</mat-label>
        <input matInput [(ngModel)]="place.data.attributes.osm">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date of Creation</mat-label>
        <input matInput [(ngModel)]="placeData.data.attributes.created">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last updated</mat-label>
        <input matInput [(ngModel)]="placeData.data.attributes.updated">
      </mat-form-field>
    </div>
    <h3>wikipedia</h3>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Wiki Code</mat-label>
        <input [(ngModel)]="placeData.data.attributes.wikidata" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="larger">
        <mat-label>Lien Wikipédia</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="place-right map">
    <h3>location</h3>
      <div class="location">
        <mat-form-field appearance="outline">
          <mat-label>Longitude min</mat-label>
          <input matInput [(ngModel)]="place.data.attributes.lng_min">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Longitude max</mat-label>
          <input matInput [(ngModel)]="place.data.attributes.lng_max">
        </mat-form-field>
      </div>
      <div class="location-with-map">
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Latitude max</mat-label>
            <input matInput [(ngModel)]="place.data.attributes.lat_max">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Latitude min</mat-label>
            <input matInput [(ngModel)]="place.data.attributes.lat_min">
          </mat-form-field>
        </div>
        <!-- <img src="https://picsum.photos/300/150" alt=""> -->
        <neo-mapbox [place]="place"></neo-mapbox>
      </div>
      <div class="location gps">
        <mat-form-field appearance="outline">
          <mat-label>GPS coordinate</mat-label>
          <input matInput [(ngModel)]="place.data.attributes.lat">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>GPS coordinate</mat-label>
          <input matInput [(ngModel)]="place.data.attributes.lng">
        </mat-form-field>
      </div>
    </div>

</div>
